<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.qinyuhang.tailscaled.swiftbar</string>

    <key>ProgramArguments</key>
    <array>
        <string>__TSCALED_BIN__</string>
        <string>--socket=/tmp/tailscaled-swiftbar.sock</string>
        <string>--state=__HOME__/Library/TailscaleSwiftBar/tailscaled.state</string>
        <string>--tun=userspace-networking</string>
        <string>--socks5-server=localhost:1055</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>ProcessType</key>
    <string>Background</string>

    <key>ThrottleInterval</key>
    <integer>5</integer>

    <key>WorkingDirectory</key>
    <string>/tmp</string>

    <key>StandardOutPath</key>
    <string>__HOME__/Library/Logs/tailscaled-swiftbar.log</string>

    <key>StandardErrorPath</key>
    <string>__HOME__/Library/Logs/tailscaled-swiftbar.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
